---
---
$gutter-padding40: 40px 0px 0px 40px;
$gutter-padding80: 80px 0px 0px 80px;
$gutter-padding60: 60px 0px 0px 60px;
$gutter-padding20: 20px 0px 0px 20px;
$gutter-padding10: 20px 0px 0px 20px;

$margin-gutters-horizontal40: -40px 0px -1px -40px;
$margin-gutters-horizontal80: -80px 0px -1px -80px;
$margin-gutters-horizontal60: -60px 0px -1px -60px;
$margin-gutters-horizontal20: -20px  0px -1px -20px;
$margin-gutters-horizontal10: -10px  0px -1px -10px;

$none:none;
$zeropx:0px;

@import 'reset';

/*          Container
==============================*/
	.container {
		margin-left: auto;
		margin-right: auto;
		/* width: (containers) */
		width: 1200px;
	}

	/* Modifiers */

		/* 125% */
			.container.\31 25\25 {
				width: 100%;
				/* max-width: (containers * 1.25) */
				max-width: 1500px;
				/* min-width: (containers) */
				min-width: 1200px;
			}

		/* 75% */
			.container.\37 5\25 {
				/* width: (containers * 0.75) */
				width: 900px;
			}

		/* 50% */
			.container.\35 0\25 {
				/* width: (containers * 0.50) */
				width: 600px;
			}

		/* 25% */
			.container.\32 5\25 {
				/* width: (containers * 0.25) */
				width: 300px;

			}
/*          Grid
==============================*/	
	.row {
		border-bottom: solid 1px transparent;
	}

	.row > * {
		float: left;
	}
	.row:after, .row:before {
		content: '';
		display: block;
		clear: both;
		height: 0;
	}
	.row.uniform > * > :first-child {
		margin-top: 0;
	}
	.row.uniform > * > :last-child {
		margin-bottom: 0;
	}
/*          Gutters
==============================*/
		/* Normal */

			.row > *, .row.uniform > * {				
				/* padding: (gutters.horizontal) 0 0 (gutters.vertical) */
				padding: $gutter-padding40;
			}

			.row, .row.uniform {
				/* margin: -(gutters.horizontal) 0 -1px -(gutters.vertical) */
				margin:$margin-gutters-horizontal40;
			}

		/* 200% */

			.row.\32 00\25 > *, .row.uniform.\32 00\25 > * {
				/* padding: (gutters.horizontal) 0 0 (gutters.vertical) */				
				padding:$gutter-padding80;
			}

			.row.\32 00\25, .row.uniform.\32 00\25 {
				/* margin: -(gutters.horizontal) 0 -1px -(gutters.vertical) */
				margin: $margin-gutters-horizontal80;
			}


		/* 150% */

			.row.\31 50\25 > *, .row.uniform.\31 50\25 > *  {
				/* padding: (gutters.horizontal) 0 0 (gutters.vertical) */
				padding:$gutter-padding60;
			}

			.row.\31 50\25, .row.uniform.\31 50\25{
				/* margin: -(gutters.horizontal) 0 -1px -(gutters.vertical) */
				margin: $margin-gutters-horizontal60;
			}
			
		/* 50% */

			.row.\35 0\25 > *, .row.uniform.\35 0\25 > *  {
				/* padding: (gutters.horizontal) 0 0 (gutters.vertical) */
				padding:$gutter-padding20;
			}

			.row.\35 0\25, .row.uniform.\35 0\25 {
				/* margin: -(gutters.horizontal) 0 -1px -(gutters.vertical) */
				margin:$margin-gutters-horizontal20;
			}
			
		/* 25% */
			.row.\32 5\25 > *, .row.uniform.\32 5\25 > *  {
				/* padding: (gutters.horizontal) 0 0 (gutters.vertical) */
				padding:$gutter-padding10
			}

			.row.\32 5\25, .row.uniform.\32 5\25  {
				/* margin: -(gutters.horizontal) 0 -1px -(gutters.vertical) */
				margin: $margin-gutters-horizontal10
			}
			
		/* 0% */

			.row.\30 \25 > * {
				padding:$zeropx;
			}

			.row.\30 \25 {
				margin: 0 0 -1px 0;
			}
/*          Cells
==============================*/
		.cl-none-ml0{clear: $none; margin-left:$zeropx;}
		.\31 2u, .\31 2u\24 { 
			@extend .cl-none-ml0;
			width: 100%;			
		  }
		.\31 1u, .\31 1u\24 {
			@extend .cl-none-ml0;			
			 width: 91.6666666667%;
			}
		.\31 0u, .\31 0u\24 { width: 83.3333333333%; @extend .cl-none-ml0;	 }
		.\39 u, .\39 u\24 { width: 75%; @extend .cl-none-ml0;	}
		.\38 u, .\38 u\24 { width: 66.6666666667%; @extend .cl-none-ml0; }
		.\37 u, .\37 u\24 { width: 58.3333333333%; @extend .cl-none-ml0; }
		.\36 u, .\36 u\24 { width: 50%; @extend .cl-none-ml0; }
		.\35 u, .\35 u\24 { width: 41.6666666667%;@extend .cl-none-ml0; }
		.\34 u, .\34 u\24 { width: 33.3333333333%; @extend .cl-none-ml0; }
		.\33 u, .\33 u\24 { width: 25%; @extend .cl-none-ml0; }
		.\32 u, .\32 u\24 { width: 16.6666666667%; @extend .cl-none-ml0; }
		.\31 u, .\31 u\24 { width: 8.3333333333%; @extend .cl-none-ml0; }

		.\31 2u\24 + *,
		.\31 1u\24 + *,
		.\31 0u\24 + *,
		.\39 u\24 + *,
		.\38 u\24 + *,
		.\37 u\24 + *,
		.\36 u\24 + *,
		.\35 u\24 + *,
		.\34 u\24 + *,
		.\33 u\24 + *,
		.\32 u\24 + *,
		.\31 u\24 + * {
			clear: left;
		}

		.\-11u { margin-left: 91.6666666667% }
		.\-10u { margin-left: 83.3333333333% }
		.\-9u { margin-left: 75% }
		.\-8u { margin-left: 66.6666666667% }
		.\-7u { margin-left: 58.3333333333% }
		.\-6u { margin-left: 50% }
		.\-5u { margin-left: 41.6666666667% }
		.\-4u { margin-left: 33.3333333333% }
		.\-3u { margin-left: 25% }
		.\-2u { margin-left: 16.6666666667% }
		.\-1u { margin-left: 8.3333333333% }



