<!-- Contact -->
<section id="contact" class="four">
  <div class="container">
    <header>
      <h2>Subscribe to our mailing list</h2>
    </header>
    <p>Elementum sem parturient nulla quam placerat viverra 
      mauris non cum elit tempus ullamcorper dolor. </p>
    <form method="post" action="#">
      <div class="row 50%">
        <div class="8u">
          <input type="email" name="name" placeholder="Enter email id here" />
        </div>
        <div class="4u">
          <input type="submit" value="Send Message" />
        </div>
      </div>
      
    </form>
  </div>
</section>
