<!-- Contact -->
<section id="contact" class="three">
 
    <header>
      <h2>Subscribe to our mailing list</h2>
    </header>

   
    <form method="post" action="#">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-md-offset-3 col-sm-offset-2">
          <input type="email" name="name" placeholder="Enter email id here" />
        </div>
        <div class="col-md-2 col-sm-3">
          <input type="submit" value="Submit" />
        </div>
      </div>
      
    </form>

</section>
