<!-- Contact -->
<section id="contact" class="four">
 
    <header>
      <h2>Subscribe to our mailing list</h2>
    </header>
    <p class="mbot2m">Elementum sem parturient nulla quam placerat viverra 
      mauris non cum elit tempus ullamcorper dolor. </p>
    <form method="post" action="#">
      <div class="row">
        <div class="col-md-8">
          <input type="email" name="name" placeholder="Enter email id here" />
        </div>
        <div class="col-md-4">
          <input type="submit" value="Send Message" />
        </div>
      </div>
      
    </form>

</section>
