
<!-- downloads -->
<section id="downloads" class="three">
  <div class="container">
    <header>
      <h2>A simplified <strong>WorkFlow</strong> </h2>
    </header>
    <p>Wait time minimized - Instantly create VMs and Linux Containers using a powerful and intuitive browser based tool </p>
    <div class="row">
      <div class="6u">
       
          <footer> <a href="#portfolio" class="button scrolly">Download</a> </footer>
       
        
      </div>
      <div class="6u">
      
          <footer> <a href="#portfolio" class="button scrolly">Request for Demo</a> </footer>
       
      
      </div>
      
    </div>
  </div>
</section>
