<!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
	<script src="js/scrolling-nav.js"></script> 
	<script src="js/jquery.easing.min.js"></script> 
    <!-- Menu Toggle Script -->
    <script>
	var innerheight = $(window).innerHeight();
	
	
	
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
	
	if ($(window).width() >= 650 && $(window).width() <= 768 )
		{
			
			$("#wrapper").addClass('toggled');
			
			$("#page-content-wrapper").click(function () {
				$("#wrapper").addClass('toggled');
			})
		}
		
		else if ($(window).width() <= 649){
			$("#wrapper").removeClass('toggled');
			
			$("#page-content-wrapper").click(function () {
				$("#wrapper").removeClass('toggled');
			})
			
			
			}

		 $('#page-content-wrapper').onmousewheel = function() {
			//console.log("scrolling");
			alert("Hello");
		  };
		function toggleside() {
			alert("Hello");
		}
		
if ($(window).width() > 768 ){$("#top").css('height',innerheight);}		


$(".readmore").on("click",function(){
	
	$(".show-contnet").addClass("show-contnet-show");
	$(".readmore").css("display","none");
	
})
	
	
	
	
    </script>

<script src="js/jquery.newsTicker.js"></script>

<script> var nt_title = $('#nt-title').newsTicker({
                row_height: 40,
                max_rows: 1,
                duration: 3000,
                pauseOnHover: 0
            });
			</script>
