<!-- Technologies -->
<section id="technologies" class="two">
  <div class="container">
    <header>
      <h2><strong>BoxUpp</strong> leverages immense power of following <strong>DevOps</strong> tools</h2>
    </header>
    <div class="row devOpsTools">
      <div class="4u">
        <article class="item vagrant"> 
        	<a href="#" class="image">  </a>
        </article>                
      </div>
      <div class="4u">
        <article class="item Puppet"> 
        	<a href="#" class="image"> </a>
          
        </article>        
      </div>
      <div class="4u">
        <article class="item docker"> 
        	<a href="#" class="image"></a>        
        </article>        
      	</div>
     </div>
     
     	<header><h3><strong>BoxUpp</strong> is built using the following Technologies </h3></header>
        <ul class="technology-logo">
        	<li><img src="../images/angular-logo.png" alt=""></li>
            <li><img src="../images/apache-logo.png" alt=""></li>
            <li><img src="../images/Apache-Velocity-logo.png" alt=""></li>
            <li><img src="../images/saas-logo.png" alt=""></li>
            <li><img src="../images/jetty-logo.png" alt=""></li>
           
            
        </ul>
     
   
  </div>
</section>